ul.social-buttons li span {
    font-size: 20px;
    line-height: 87px;
    display: block;
    width: 75px;
    height: 75px;
    -webkit-transition: all .3s;
    transition: all .3s;
    color: #fff;
    border-radius: 100%;
    outline: 0;
    background-color: #212529;
    display: block
}


section#contact h3,
section#contact p,
section#contact strong {
    color: #fff;
}

header.masthead .intro-text {
    padding-top: 140px;
}


header.masthead .intro-text .intro-lead-in{
    text-transform: uppercase;
    font-style: normal;
    font-size: 50px;
    margin-bottom: 45px;
    line-height: 50px;
}
header.masthead .intro-text .intro-heading {
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    font-style: italic;
    margin-bottom: 100px;
}


#mainNav {
    background-color: #212529;
}

.goto {
    font-size: 200%;
    margin-top: 30px;
}

body .bg-light:first-of-type {
    padding-top: 130px;
}

.tel {
    display: block;
    font-size: 60%;
}




.home {}


.services {}

.tools {}


.challenges {}

.challenges .gotochallenge a {
    text-transform: uppercase;
    color: #ffffff;
    padding: 15px 15px;
    display: inline-block;
    width: 100%;
}
.challenges .gotochallenge a:hover {
    text-decoration: none;
}

.challenges .gotochallenge {
    background-color: #212529;
    text-align: center;
    border-right: 1px solid #aaa;
}
.challenges .gotochallenge:hover {
    background-color: #151515;
}


@media (min-width: 768px) {
    header.masthead .intro-text {
        padding-top: 190px;
    }
    header.masthead .intro-text .intro-lead-in{
        font-size: 60px;
        margin-bottom: 100px;
    }
    header.masthead .intro-text .intro-heading {
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 110px;
    }
    section {
        padding: 110px 0;
    }
    body .bg-light:first-of-type {
        padding-top: 170px;
    }
    .timeline:before {
        left: 49.6%;
    }
    .timeline:before {
        width: 1%;
        background-image: linear-gradient(to bottom, red, green);
    }
    li.problem, li.solution {
        margin-bottom: 0!important;
        min-height: 0!important;
    }
    li.problem + li {
        color: red;
    }
    li.solution {
        color: green;
    }
}