Redirect /abbattimenti_e_potature_tecniche/abbattimenti_e_potature_tecniche.php http://www.ilgiardiniere.fvg.it/servizi.html
Redirect /movimento_terra_e_semine/movimento_terra_e_semine.php http://www.ilgiardiniere.fvg.it/servizi.html
Redirect /manutenzione_aree_abbandonate/manutenzione_terreni_e_aree_abbandonate.php http://www.ilgiardiniere.fvg.it/servizi.html
Redirect /giardiniere_per_privati/giardiniere_per_privati.php http://www.ilgiardiniere.fvg.it/servizi.html

Redirect /contatti/contatti.php http://www.ilgiardiniere.fvg.it/index.html
Redirect /gallery/img_gallery.php http://www.ilgiardiniere.fvg.it/index.html
Redirect /certificati_professionali_per_enti_pubblici/certificati_per_gli_enti_pubblici.php http://www.ilgiardiniere.fvg.it/index.html